<div class="row">
	<div class="col-md-4 mb-3">
		<label for="billingZipCode" class="form-label">CEP</label>
		<input
			id="billingZipCode"
			type="text"
			class="form-control"
			formControlName="billingZipCode"
			(blur)="buscarCep()"
		/>
		@if (isLoadingCep) {
			<small class="form-text">Buscando CEP...</small>
		}
		@if (cepError) {
			<small class="form-text text-danger">{{ cepError }}</small>
		}
	</div>

	<div class="col-md-8 mb-3">
		<label for="billingStreet" class="form-label">Rua</label>
		<input id="billingStreet" type="text" class="form-control" formControlName="billingStreet" />
	</div>
</div>

<div class="row">
	<div class="col-md-4 mb-3">
		<label for="billingNumber" class="form-label">N&uacute;mero</label>
		<input id="billingNumber" type="text" class="form-control" formControlName="billingNumber" />
	</div>
	<div class="col-md-8 mb-3">
		<label for="billingDistrict" class="form-label">Bairro</label>
		<input id="billingDistrict" type="text" class="form-control" formControlName="billingDistrict" />
	</div>
</div>

<div class="row">
	<div class="col-md-8 mb-3">
		<label for="billingCity" class="form-label">Cidade</label>
		<input id="billingCity" type="text" class="form-control" formControlName="billingCity" />
	</div>
	<div class="col-md-4 mb-3">
		<label for="billingState" class="form-label">Estado</label>
		<input id="billingState" type="text" class="form-control" formControlName="billingState" />
	</div>
</div>
