#################################
# BACKEND - JAVA / MAVEN
#################################

java-web-spring-api-attus/target/
*.log
*.class
*.jar
*.war

#################################
# OS
#################################

.DS_Store
Thumbs.db
java-web-spring-api-attus/database/backups/debt_recovery_db.backup
requisitos.jpeg
RELATORIO_ESTUDO_ENTREVISTA.txt
