<section class="page-panel">
	<div>
		<h1>Devedores</h1>
		<p>Gerencie os devedores vinculados &agrave;s cobran&ccedil;as.</p>
	</div>

	<button type="button" class="btn page-action" (click)="openFormDebtor()">Cadastrar Devedor</button>
</section>

<div class="data-table-panel">
	<div class="table-responsive">
		<table class="table data-table">
			<thead>
				<tr>
					<th scope="col">C&oacute;digo</th>
					<th scope="col">Nome</th>
					<th scope="col">CPF/CNPJ</th>
					<th scope="col">E-mail</th>
					<th scope="col">Telefone</th>
					<th scope="col">Cidade</th>
					<th scope="col">D&iacute;vidas</th>
					<th scope="col">A&ccedil;&otilde;es</th>
				</tr>
			</thead>
			<tbody>
				@for (debtor of debtors$ | async; track debtor.id) {
					<tr>
						<th scope="row">{{ debtor.id }}</th>
						<td>{{ debtor.name }}</td>
						<td>{{ debtor.cpfCnpj }}</td>
						<td>{{ debtor.email }}</td>
						<td>{{ debtor.phone }}</td>
						<td>{{ debtor.billingCity }} - {{ debtor.billingState }}</td>
						<td><span class="status-pill">{{ debtor.debts?.length || 0 }}</span></td>
						<td>
							<button type="button" class="btn table-action" (click)="openFormDebtor(debtor)">Editar</button>
						</td>
					</tr>
				} @empty {
					<tr>
						<td colspan="8" class="empty-state">Nenhum devedor encontrado</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>
