<form class="client-form" [formGroup]="clientForm" (ngSubmit)="onSubmit()">
	<div class="mb-3">
		<label for="companyName" class="form-label">Razão Social</label>
		<input id="companyName" type="text" class="form-control" formControlName="companyName" />
	</div>

	<div class="mb-3">
		<label for="cnpj" class="form-label">CNPJ</label>
		<input id="cnpj" type="text" class="form-control" formControlName="cnpj" />
	</div>

	<div class="row">
		<div class="col-md-8 mb-3">
			<label for="billingStreet" class="form-label">Rua</label>
			<input id="billingStreet" type="text" class="form-control" formControlName="billingStreet" />
		</div>

		<div class="col-md-4 mb-3">
			<label for="billingNumber" class="form-label">Número</label>
			<input id="billingNumber" type="text" class="form-control" formControlName="billingNumber" />
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 mb-3">
			<label for="billingDistrict" class="form-label">Bairro</label>
			<input id="billingDistrict" type="text" class="form-control" formControlName="billingDistrict" />
		</div>

		<div class="col-md-6 mb-3">
			<label for="billingCity" class="form-label">Cidade</label>
			<input id="billingCity" type="text" class="form-control" formControlName="billingCity" />
		</div>
	</div>

	<div class="row">
		<div class="col-md-4 mb-3">
			<label for="billingState" class="form-label">Estado</label>
			<input id="billingState" type="text" class="form-control" formControlName="billingState" />
		</div>

		<div class="col-md-8 mb-3">
			<label for="billingZipCode" class="form-label">CEP</label>
			<input id="billingZipCode" type="text" class="form-control" formControlName="billingZipCode" />
		</div>
	</div>

	<div class="mb-3">
		<label for="email" class="form-label">E-mail</label>
		<input id="email" type="email" class="form-control" formControlName="email" />
	</div>

	<div class="row">
		<div class="col-md-6 mb-3">
			<label for="contactName" class="form-label">Contato</label>
			<input id="contactName" type="text" class="form-control" formControlName="contactName" />
		</div>

		<div class="col-md-6 mb-3">
			<label for="phone" class="form-label">Telefone</label>
			<input id="phone" type="text" class="form-control" formControlName="phone" />
		</div>
	</div>

	<div class="form-actions">
		<button type="submit" class="btn save-action">Salvar</button>
	</div>
</form>
